:root {
  --primary-color: #d7d8d2;

}    
.guessedContainer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.listContainer {
  padding: 5px;
  width: 100%;
}

.countryName {
  font-size: 3rem;
  margin: 0;
}


.arrayItem {
  padding: 4px;
  font-size: 0.85rem;
}
.baseStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  font-family: sans-serif;
}

.mustContainMessage {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.countryCard {
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #b2ebf2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}



ul {
  list-style: none;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 5px;

  background: rgba(255, 255, 255, 0.3);
}


.attribute {
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.value {
  color: #333;
  margin-left: auto;
}

.icon {
  text-align: center;
}

.showMoreButton {
  padding: 10px 20px;
  background-color: #85babf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 5px;
  margin-bottom: 10px;
}

.showMoreButton:hover {
  background-color: #45babf;
}
.baseStateContainer {
  width: 25%; 
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mustContainMessage {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}


.baseCountryName {
  font-size: 3rem;
  margin: 20px;
}
